In [1]:
print("hello")

hello

In [2]:
2+3

5

some text

In [3]:
2 + 4 +9

15

In [4]:
29-5

24

In [5]:
24.999 - -2

26.999

In [6]:
25.22 * -6

-151.32

In [7]:
100/7

14.285714285714286

In [8]:
100//7

14

In [9]:
100%7

2

In [10]:
5*3

15

In [11]:
5**3

125

In [12]:
5***2

SyntaxError: invalid syntax (4280846567.py, line 1)

In [ ]:
((2+3)+(4-6))/(4-3)

In [ ]:
a=22

In [ ]:
b=22

In [ ]:
a+b

# solving multi-step problems using variables

let's try solving the folloing word problem using python:

A grocery store sells a bag of ice for $1.25 and makes a 20% profit. If it sells 500 bags of ice, how much total profit does it make?

We can list out the information provided and gradually convert the word problem into a mathematical expression that can be evaluated using Python.

Cost of ice bag ($) = 1.25

Profit margin = 20% = .2

Profit per bag ($) = profit margin * cost of ice bag = .2 * 1.25

No. of bags = 500

Total profit = no. of bags * profit per bag = 500 * (.2 * 1.25)

In [ ]:
500*(0.2*1.25)

Variables: While working with a programming language such as Python, information is stored in variables. You can think of variables as containers for storing data. The data stored within a variable is called its value

In [ ]:
cost_of_ice_bag = 1.25

In [ ]:
profit_margin = .2

In [ ]:
number_of_bags = 500

In [ ]:
2+3

gyghhb

# Evaluating Conditions Using Python

TRUE or FALSE condition

In [ ]:
my_favorite_number = 1
my_least_favorite_number = 5
a_neutral_number = 3

In [ ]:
# Equality check - True

my_favorite_number == 1

In [ ]:
# Equality check - False
my_favorite_number == my_least_favorite_number

In [ ]:
# Not equal check - True
my_favorite_number != a_neutral_number

In [ ]:
# Not equal check - True
my_favorite_number != a_neutral_number

In [ ]:
# Not equal check - False
a_neutral_number != 3

In [ ]:
# Greater than check - True
my_least_favorite_number > a_neutral_number

In [ ]:
# Greater than check - False
my_favorite_number > my_least_favorite_number

In [ ]:
# Less than check - True
my_favorite_number < 10

In [ ]:
# Less than check - False
my_least_favorite_number < my_favorite_number

In [ ]:
# Greater than or equal check - True
my_favorite_number >= 1

In [ ]:
# Greater than or equal check - False
my_favorite_number >= 3

In [ ]:
# Less than or equal check - True
3 + 6 <= 9

In [ ]:
# Less than or equal check - False
my_favorite_number + a_neutral_number <= 3

In [ ]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
print("Is the ice bag expensive?", is_ice_bag_expensive)

In [ ]:
if 5>2:
    print("Five is greater than two!")

In [ ]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

# Python Variables

In [ ]:
x = 5
y = "Hello, World!"

In [ ]:
#This is a comment,
print("Good Morning")

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

In [ ]:
"""
This is a comment
read by you
which is more than two lines
"""
print("Good Morning")

### Comment can also write with TRIPLE QUOTES

# Variables

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

# Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
x = 5
y = "John"
Z = 6.0
print(type(x))
print(type(y))
print(type(Z))

### Single or Double Quotes?

String variables can be declared either by using single or double quotes

In [ ]:
x = "John"

print(x)

In [ ]:
y = 'John'

print(y)

### Case-Sensitive
Variable names are case-sensitive..

In [13]:
a = 4
A = "Sally"
#A will not overwrite a

In [14]:
print(a)
print(A)

4
Sally

### Variable Names
1. A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
2. A variable name must start with a letter or the underscore character
3. A variable name cannot start with a number
4. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
5. Variable names are case-sensitive (age, Age and AGE are three different variables)

In [15]:
#Legal variable names: 

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [16]:
#Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (3407628864.py, line 3)

# Python Variables - Assign Multiple Values

Many Values to Multiple Variables:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

One Value to Multiple Variables:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Unpack a Collection:

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

# Output Variables

In [ ]:
x = "Python is awesome"
print(x)

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

In [ ]:
x = "Python "  #After "python" Space is must, 
y = "is "      #After "is" Space is must
z = "awesome"
print(x + y + z)

#otherwise without them the result would be "Pythonisawesome".

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
#In the print() function, when you try to combine a string and a number 
#with the + operator, Python will give you an error

x = 5
y = "John"
print(x + y)

In [ ]:
#The best way to output multiple variables in the print() 
#function is to separate them with commas, 
#which even support different data types

x = 5
y = "John"
print(x, y)

# Global Variables

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

In [ ]:
x = "shiv"

def var():
    print("my name is " + x)
    
var()

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

# Data Types

In [17]:
x = True 

print(type(x))

<class 'bool'>

In [18]:
a = "Hello World"

print(type(a))

<class 'str'>

In [19]:
x = 20
y = 20.5
z = 1j
X = ["apple", "banana", "cherry"]
Y = ("apple", "banana", "cherry")
Z = range(6)
a = {"name" : "John", "age" : 36}
b = {"apple", "banana", "cherry"}
c = True

print(type(x))
print(type(y))
print(type(z))
print(type(X))
print(type(Y))
print(type(Z))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>

# Python Numbers

There are three types of number:
1. int
2. float
3. complex

In [20]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [21]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [22]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [23]:
#Float can also be scientific numbers with an "e" to indicate 
#the power of 10.

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [24]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [25]:
x=1    # int
y=2.8  # float
z=1j   # complex

# convert from int to float:
a=float(x)

# convert from float to int:
b=int(y)

# convert from int to complex:
c=complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Number

In [26]:
import random

print(random.randrange(1, 10))

9

In [27]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x, y, z)

1 2 3

In [28]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

print(x, y, z, w)

1.0 2.8 3.0 4.2

In [29]:
x = str("s1")
y = str(2)
z = str(3.0)

print(x, y, z)

s1 2 3.0

# Multiline Strings

In [30]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [31]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [32]:
a = '''123,
456,
789.'''

print(a)

123,
456,
789.

# Strings are Arrays

In [33]:
a = "Hello, World!"
print(a[1])

e

In [34]:
a = "Hello, World!"
print(a[3])

l

In [35]:
# For LOOP

for x in "banana":
    print(x)

b
a
n
a
n
a

In [36]:
# Length [len() function]

a = "hello world"
print(len(a))

11

In [37]:
# Check String

txt = "the best things in life are free"
print("free" in txt)

True

In [38]:
# Check String

txt = "the best things in life are free"
print("the" in txt)

True

In [39]:
# Check String

txt = "the best things in life are free"
print("Best" in txt)

False

In [40]:
# if Statement:

txt = "the best things in life are free"
if "free" in txt:
    print("yes, 'free' is present")

yes, 'free' is present

In [41]:
# not in statement

txt = "the best things in life are free"
print("expensive" not in txt)

True

In [42]:
txt = "the best things in life are free"
print("best" not in txt)

False

In [43]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [44]:
txt = "The best things in life are free!"
if "best" in txt:
    print("yes, 'best' is present.")

yes, 'best' is present.

# Slicing Strings

In [45]:
b = "Hello, World!"
print(b[2:5])

llo

In [46]:
b = "Hello, World!"
print(b[:5])

Hello

In [47]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [48]:
# Negative Indexing..

b = "Hello, World!"
print(b[-5:-2])

orl

# Upper Case

In [49]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

# Lower Case

In [50]:
a = "Hello, World!"
print(a.lower())

hello, world!

# Remove Whitespace

In [51]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# Replace String

In [52]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [53]:
a = "Hello, World!"
print(a.replace(",", ":"))

Hello: World!

# Split String

In [54]:
a = "Hello, World"
print(a.split(","))

['Hello', ' World']

# String Concatenation

In [55]:
a = "Hello"
b = " World"
c = a + b
print(c)

Hello World

In [56]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [57]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [58]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [59]:
roll_no = 10
txt = "my name is shiv, and my roll no is {}"
print(txt.format(roll_no))

my name is shiv, and my roll no is 10

### Space is not readable by python, instad of space, use _

In [60]:
quantity = 3
item_no = 567
price = 49.95

my_order = "i want {} pieces of item {} for {} dollars."
print(my_order.format(quantity,item_no,price))

i want 3 pieces of item 567 for 49.95 dollars.

In [61]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Escape Character

In [62]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

You will get an error if you use double quotes inside a string that is surrounded by double quotes

To fix this problem, use the escape character \":

In [63]:
txt = "We are the so-called \"Vikings\" from the north."

\'   single Quote,
\\   Backslash,
\n   New Line,
\r   Carriage return,
\t   Tab,
\b   Backspace,
\f   Form Feed,
\ooo  Octal value,
\xhh  Hex value.

# Boolean Values

In [64]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [65]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [66]:
a = 20
b = 30

if b > a:
    print("b is greater than a")
else:
    print("b is not great than a")

b is greater than a

In [67]:
# Value and Variables

print(bool("Hello"))
print(bool(15))

True
True

In [68]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [69]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [70]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [71]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [72]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [73]:
x = 200

print(isinstance(x, int))

True

In [74]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [75]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [76]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1, list2, list3)

['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3] [True, False, False]

In [77]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [78]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [79]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [80]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [81]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [82]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [83]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [84]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [85]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [86]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [87]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [88]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)  #The pop() method removes the specified index.

['apple', 'cherry']

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)  #If you do not specify the index, pop() method removes the last item.

['apple', 'banana']

In [90]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [91]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [92]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [93]:
a = ["1", "2", "3"]
for c in a:
    print(c)

1
2
3

In [94]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [95]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [96]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [97]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)   #sort() method that will sort the list alphanumerically

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [98]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [99]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [100]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)   #Sort the list based on how close the number is to 50

[50, 65, 23, 82, 100]

In [101]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [102]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [103]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [104]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [105]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [106]:
a = ("apple",)
print(type(a))

#NOT a tuple
a = ("apple")
print(type(a))

<class 'tuple'>
<class 'str'>

In [107]:
a=3.332e5
b=5.655j
print(a,b)

333200.0 5.655j

In [108]:
i = 0
while(i == 0):
    print("please enter \n 1 for addition \n 2 for substraction \n 3 for multiplication \n 4 for division")
    a = int(input(""))
    i=1
    if (a<1 or a>4):
        print("please enter valid input")
        i=0
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

def addition(a+b):
    a = a+b
    print("answer is : ,a)
def substraction(a-b):
    a = a-b
    print("answer is : ,a)
def multiplication(a*b):
    a = a*b
    print("answer is : ,a)
def division(a/b):
    a = a/b
    print("answer is : ,a)

SyntaxError: invalid syntax (2611032159.py, line 12)

In [ ]:
#Creat function for each operation
#This function add two number

def add(x,y):
    return x+y

#This function substraction two number

def subtract(x,y):
    return x-y

#This function multiply two number

def multiply(x,y):
    return x*y

#This function division two number

def divide(x,y):
    return x/y

print("Select operation")
print('1, Addition')
print('2, Subtract')
print('3, Multiply')
print('4, divide')

num = input("Enter num (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if num == '1':
    print(num1, '+', num2,'=', add(num1,num2))
elif num == '2':
    print(num1, '-', num2,'=', subtract(num1,num2))
elif num == '3':
    print(num1, '*', num2,'=', multiply(num1,num2))
elif num == '4':
    print(num1, '/', num2,'=', divide(num1,num2))
else:
    print("Invalid Input")

In [ ]:
def add(c,b):
    d=c+b
    return d
def sub(c,b):
    d=c-b
    return d
def mul(c,b):
    d=c*b
    return d
def div(c,b):
    d=c/b
    return d
def square(c):
    d=c*c
    return d

again=0
while(again==0):
 i=0
 invalid=0
 while(i == 0):
    print("please enter \n 1 for addition \n 2 for substraction \n 3 for multiplication \n 4 for division \n 5 for square")
    a = int(input(""))
    i=1
    if (a<1 or a>4):
       print("please enter valid input")
       i=0
 c = int(input("Enter the first number: "))
 b = int(input("Enter the second number: "))

 if(a==1):
     d=add(c,b)
 elif(a==2):
     d=sub(c,b)
 elif(a==3):
     d=mul(c,b)
 elif(a==4 and b!=0):
     d=div(c,b)
 elif(a==5):
     d=square(c)
 else:
     print("invalid")
     invalid=1
    
 if (invalid==0):
     print("Answer is : ", d)
    
again=int(input("please enter 0 to prosses again"))