In [1]:
z = "My name is Shivkumar Patel"

In [2]:
z

'My name is Shivkumar Patel'

In [3]:
z[1:6]

'y nam'

In [4]:
z[-1:-3]

''

In [5]:
z[-3:-1]

'te'

In [6]:
z[-3:-1+1]

''

In [14]:
#positional formating 

string1 = "{1}, {0}, {2}".format('shiv', 'nipulbhai', 'patel')
print("\nprint string in positional order: ")
print(string1)

print string in positional order:
nipulbhai, shiv, patel

# Python List

list is mutable data type in Python

In [15]:
my_list = [1,2,3,4,5]

In [16]:
my_list

[1, 2, 3, 4, 5]

In [17]:
type(my_list)

list

In [18]:
type(my_list[0])

int

In [19]:
x = [1,2,5.1,3.5, "hello"]

In [20]:
x

[1, 2, 5.1, 3.5, 'hello']

In [21]:
x[0]

1

In [22]:
x[2]

5.1

In [23]:
x[-1]

'hello'

In [24]:
#indexing

x[1:3]

[2, 5.1]

In [25]:
x[4] = "hy"

In [26]:
x[4]

'hy'

In [28]:
# input

x = input("enter first value")
y = input("enter second value")

enter first value10
enter second value15

In [29]:
x + y

'1015'

In [30]:
x

'10'

In [31]:
y

'15'

In [32]:
#convert into int

x = int(x)

In [33]:
y = int(y)

In [34]:
x+y

25

# Python Tuples
## tuples are immutable data types

In [35]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)

In [36]:
type(a)

tuple

In [37]:
a+b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [38]:
a*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [39]:
a*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [40]:
a(0)

TypeError: 'tuple' object is not callable

In [41]:
a[0]

1

In [42]:
a[0]=10

TypeError: 'tuple' object does not support item assignment

# Python Dictionary

## dictionary does not allow the index

## dictionaries are anclosed by curly braces ({  })

In [47]:
empl={}

In [48]:
type(empl)

dict

In [49]:
empl["name"] = "Shiv"
empl["age"] = 23
empl["gender"] = "M"

In [50]:
empl

{'name': 'Shiv', 'age': 23, 'gender': 'M'}

In [51]:
empl["name"]

'Shiv'

In [52]:
empl["age"]

23

In [53]:
empl[0]

KeyError: 0

# Python Loops
## While Loops
### In loops, we have to use : at the end of the sentance

In [6]:
# Python program to illustrate
# While loop
count = 0
while (count < 9):
    print("the count is:", count)
    count = count + 1
    print("Good bye")

the count is: 0
Good bye
the count is: 1
Good bye
the count is: 2
Good bye
the count is: 3
Good bye
the count is: 4
Good bye
the count is: 5
Good bye
the count is: 6
Good bye
the count is: 7
Good bye
the count is: 8
Good bye

In [2]:
count = 0
while (count < 9):
    print("the count is:", count)
    count = count + 2
    print("Good bye")

the count is: 0
Good bye
the count is: 2
Good bye
the count is: 4
Good bye
the count is: 6
Good bye
the count is: 8
Good bye

In [4]:
count = 0
while (count < 9):
    print("the count is:", count)
    count = count + 1
print("Good bye!")

the count is: 0
the count is: 1
the count is: 2
the count is: 3
the count is: 4
the count is: 5
the count is: 6
the count is: 7
the count is: 8
Good bye!

In [5]:
count = 0
while (count < 3):
    print("the count is:", count)
    count = count + 1
print("Hello Shiv")

the count is: 0
the count is: 1
the count is: 2
Hello Shiv

In [7]:
count = 0
while (count < 15):
    print("the count is:", count)
    count = count + 5
print("Hello Shivu_")

the count is: 0
the count is: 5
the count is: 10
Hello Shivu_

In [10]:
count = 0
while (count < 5):
    count = count + 2
    print("Hyy_")

Hyy_
Hyy_
Hyy_

In [12]:
count = 0
while (count < 5):
    count = count + 1
print("Hyy_")

Hyy_

# While..Else Loops

In [6]:
count = 0
while (count < 5):
    print(count, " is less than 5")
    count = count + 1
else:
    print(count, " is not less than 5")

0  is less than 5
1  is less than 5
2  is less than 5
3  is less than 5
4  is less than 5
5  is not less than 5

In [7]:
count = 0
while (count < 5):
    print(count, "is equal to 5")
    count = count + 1
else:
    print(count, "is equal to 5")

0 is equal to 5
1 is equal to 5
2 is equal to 5
3 is equal to 5
4 is equal to 5
5 is equal to 5

In [9]:
count = 2
while (count < 10):
    print(count, "is less than 10")
    count = count + 1
else:
    print(count, "is equal to 10")

2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10
10 is equal to 10

# For Loops

In [10]:
for letter in 'Python':   # First Example
    print('current letter :',  letter)
    
fruits = ['banana', 'apple', 'mango']
for fruit in fruits:      # second example
    print('current fruit :', fruit)
    
print("Good Bye")

current letter : P
current letter : y
current letter : t
current letter : h
current letter : o
current letter : n
current fruit : banana
current fruit : apple
current fruit : mango
Good Bye

In [16]:
for letter in 'Python':
    print('current letter :',  letter)
    

print("Good Bye")

current letter : P
current letter : y
current letter : t
current letter : h
current letter : o
current letter : n
Good Bye

In [15]:
for fruit in 'fruits':
    print('current letter :',  fruit)

current letter : f
current letter : r
current letter : u
current letter : i
current letter : t
current letter : s

In [19]:
for Shiv in range(10):
    print(Shiv)

0
1
2
3
4
5
6
7
8
9

In [23]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
        break
    else:
        print(num, 'is a prime number')
        break

10 equals 2 * 5
12 equals 2 * 6
14 equals 2 * 7
16 equals 2 * 8
18 equals 2 * 9

In [24]:
for num in range(10,20):
    for i in range(1,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
        break
    else:
        print(num, 'is a prime number')
        break

10 equals 1 * 10
11 equals 1 * 11
12 equals 1 * 12
13 equals 1 * 13
14 equals 1 * 14
15 equals 1 * 15
16 equals 1 * 16
17 equals 1 * 17
18 equals 1 * 18
19 equals 1 * 19

In [25]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
        break

10 equals 2 * 5
12 equals 2 * 6
14 equals 2 * 7
16 equals 2 * 8
18 equals 2 * 9

In [31]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
            break
        else:
            print(num, 'is a prime number')
        break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [32]:
from math import pi
pi

3.141592653589793

In [34]:
area = pi * 2**2
area

12.566370614359172

In [36]:
# find the area of circle

radious = 10
Area = pi*radious*radious
Area

314.1592653589793

# Conditional Statement

In [37]:
# If statement

num = 5
if num>0:
    print(num, 'is positive number')
print('statement is true')

5 is positive number
statement is true

In [38]:
num = -5
if num>0:
    print(num, 'is positive number')
else:
    print(num,'is negative number')

-5 is negative number

In [39]:
num = 1
if num>0:
    print(num, 'is positive number')
else:
    print(num,'is negative number')

1 is positive number

In [54]:
# Nested Loops

num = 1
if num>=0:
    if num == 0:
        print(num,' is zero')
    else:
        print(num,'is positive number')
else:
    print(num,'is negative number')

1 is positive number

In [51]:
num = -1
if num>=0:
    if num == 0:
        print(num,'is zero')
    else:
        print(num,'is positive number')
else:
    print(num,'is negative number')

-1 is negative number

In [53]:
num = 0
if num>=0:
    if num == 0:
        print(num,'is zero')
    else:
        print(num,'is positive number')
else:
    print(num,'is negative number')

0 is zero

# Calculater

In [66]:
#Creat function for each operation
#This function add two number

def add(x,y):
    return x+y

#This function substraction two number

def subtract(x,y):
    return x-y

#This function multiply two number

def multiply(x,y):
    return x*y

#This function division two number

def divide(x,y):
    return x/y

print("Select operation")
print('1, Addition')
print('2, Subtract')
print('3, Multiply')
print('4, divide')

choice = input("Enter choice (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if choice == '1':
    print(num1, '+', num2,'=', add(num1,num2))
elif choice == '2':
    print(num1, '-', num2,'=', subtract(num1,num2))
elif choice == '3':
    print(num1, '*', num2,'=', multiply(num1,num2))
elif choice == '4':
    print(num1, '/', num2,'=', divide(num1,num2))
else:
    print("Invalid Input")

Select operation
1, Addition
2, Subtract
3, Multiply
4, Divide
Enter choice (1/2/3/4): 4
Enter the first number: 4
Enter the second number: 2
4 / 2 = 2.0

In [ ]:
print("Select operation")
print('1, Addition')
print('2, Subtract')
print('3, Multiply')
print('4, divide')

choice = input("Enter choice (1/2/3/4): ")

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if choice == '1':
    print(num1, '+', num2,'=', add(num1,num2))
elif choice == '2':
    print(num1, '-', num2,'=', subtract(num1,num2))
elif choice == '3':
    print(num1, '*', num2,'=', multiply(num1,num2))
elif choice == '4':
    print(num1, '/', num2,'=', divide(num1,num2))
else:
    print("Invalid Input")

In [ ]:
print("Select operation")
print('1, Addition')
print('2, Subtract')
print('3, Multiply')
print('4, divide')

choice = input("Enter choice (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if choice == '1':
    print(num1, '+', num2,'=', add(num1,num2))
elif choice == '2':
    print(num1, '-', num2,'=', subtract(num1,num2))
elif choice == '3':
    print(num1, '*', num2,'=', multiply(num1,num2))
elif choice == '4':
    print(num1, '/', num2,'=', divide(num1,num2))
else:
    print("Invalid Input")