# addition

In [4]:
var1 = 25
var2 = 22

In [3]:
var1 + var2

47

In [6]:
var1 = 10
var2 = 11

var3 = var1 + var2
var3

21

In [7]:
var4 = 12
var5 = 13

var6 = var4 - var5
var6

-1

In [8]:
#multiplication 

var7 = 14
var8 = 15

var9 = var7 * var8
var9

210

In [9]:
#division

var10 = 16
var11 = 2

var12 = var10 / var11
var12

8.0

In [10]:
#division 

var13 = 14
var14 = 2

var15 = var13 // var14
var15

7

In [11]:
count = 100
km = 1000
name = "shiv"

print("my name is shiv")
print(count,km,name)

my name is shiv
100 1000 shiv

In [14]:
#saperate

count = 100
km = 1000
name = "shiv"
a,b,c = 4,5,"patel"

print("My name is shiv")
print(count,km,name, sep = ',')
print(a,b,c, sep = ',')

My name is shiv
100,1000,shiv
4,5,patel

In [15]:
a = 1
b = 2

a + b

3

In [16]:
a=b=c=1

a
b
c

print(a,b,c)

1 1 1

In [17]:
a=b=c=1

a
b
c

#print(a,b,c)

1

In [18]:
x,y,z = 13,14,15

z

15

In [19]:
del z

In [20]:
z

NameError: name 'z' is not defined

# Data Types

numerical data types
int
float
complex

In [22]:
a = 67
b = 99.9999
c = 3.14j
d = "Navratri"
e = True


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

# How to take input from user

In [23]:
#how to take input from user
#ask the user to enter the value of x and store it in variable
x = int(input("enter the value of x: "))

#ask the user to enter the value of x and store it in variable
y = int(input("enter the value of y: "))

#perform any mathematical operation on user input

z = x*y

#print the answer 

z

enter the value of x: 47
enter the value of y: 67

3149

#  Python String

## combination of two strings

In [25]:
str1 = "I like python programing"
str1

'I like python programing'

In [27]:
str2 = " number one"
str2

' number one'

In [28]:
str3 = str1 + str2
str3

'I like python programing number one'

# String Indexing

In [29]:
#string indexing and slicing

name = "university"
print(name)
print(len(name))

university
10

In [34]:
name[0]

'u'

In [35]:
name[5]

'r'

In [36]:
name[-10]

'u'

In [37]:
name = "This is shivkumar Patel"
print(name)
print(len(name))

This is shivkumar Patel
23

In [38]:
name[5]

'i'

In [39]:
name[4]

' '

In [40]:
name[10]

'i'

In [42]:
name[22]

'l'

In [43]:
name[-1]

'l'

In [44]:
name[-10]

'u'

In [45]:
name[-12]

'v'

In [46]:
name[-6]

' '