In [1]:
z = "My name is Shivkumar Patel"

In [2]:
z

'My name is Shivkumar Patel'

In [3]:
z[1:6]

'y nam'

In [4]:
z[-1:-3]

''

In [5]:
z[-3:-1]

'te'

In [6]:
z[-9:-5+5]

''

In [7]:
#positional formating 

string1 = "{1}, {0}, {2}".format('shiv', 'nipulbhai', 'patel')
print("print string in positional order: ")
print(string1)

print string in positional order:
nipulbhai, shiv, patel

# Python List

### list is mutable data type in Python
#### That means we can change the value in the list

In [22]:
my_list = [1,2,3,4,5]

In [23]:
my_list

[1, 2, 3, 4, 5]

In [24]:
type(my_list)

list

In [25]:
type(my_list[3])

int

In [26]:
x = [1,2,5.1,3.5, "hello"]

In [27]:
x

[1, 2, 5.1, 3.5, 'hello']

In [28]:
x[0]

1

In [29]:
x[2]

5.1

In [30]:
x[-1]

'hello'

In [31]:
#indexing

x[1:3]

[2, 5.1]

In [32]:
x[4] = "hy"

In [33]:
x[4]

'hy'

In [34]:
x

[1, 2, 5.1, 3.5, 'hy']

In [44]:
# input

x = input("enter first value")
y = input("enter second value")

enter first value2
enter second value1

In [45]:
x + y

'21'

In [46]:
x

'2'

In [47]:
y

'1'

In [48]:
x + y

'21'

In [49]:
x = int(x)
y = int(y)

x + y

3

In [39]:
#convert into int

x = int(x)

In [40]:
y = int(y)

In [50]:
x+y

3

In [51]:
x + y

3

# Python Tuples
### tuples are immutable data types
#### That means we can not change the internal value of Tuples

In [52]:
a=(1,2,3,4,5)
b=(6,7,8,9,10)

In [53]:
type(a)

tuple

In [54]:
a+b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [55]:
a*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [56]:
a*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [57]:
a(0)

TypeError: 'tuple' object is not callable

In [58]:
a[0]

1

In [59]:
a[0]=10

TypeError: 'tuple' object does not support item assignment

# Python Dictionary

## dictionary does not allow the index

## dictionaries are anclosed by curly braces ({  })

In [60]:
empl={}

In [61]:
type(empl)

dict

In [62]:
empl["name"] = "Shiv"
empl["age"] = 23
empl["gender"] = "M"

In [63]:
empl

{'name': 'Shiv', 'age': 23, 'gender': 'M'}

In [64]:
empl["name"]

'Shiv'

In [65]:
empl["age"]

23

In [66]:
empl[0]

KeyError: 0

# Python Loops
## While Loops
### In loops, we have to use : at the end of the sentance

In [68]:
# Python program to illustrate
# While loop
count = 0
while (count <= 9):
    print("the count is:", count)
    count = count + 1
    print("Good bye")

the count is: 0
Good bye
the count is: 1
Good bye
the count is: 2
Good bye
the count is: 3
Good bye
the count is: 4
Good bye
the count is: 5
Good bye
the count is: 6
Good bye
the count is: 7
Good bye
the count is: 8
Good bye
the count is: 9
Good bye

In [2]:
name = 1
while (name < 9):
    print("the count is:", name)
    name = name + 2
    print("Good bye")

the count is: 1
Good bye
the count is: 3
Good bye
the count is: 5
Good bye
the count is: 7
Good bye

In [5]:
count = 0
while (count <= 9):
    print("the count is:", count)
    count = count + 1
print("Good bye!")

the count is: 0
the count is: 1
the count is: 2
the count is: 3
the count is: 4
the count is: 5
the count is: 6
the count is: 7
the count is: 8
the count is: 9
Good bye!

In [7]:
count = 3
while (count < 3):
    print("the count is:", count)
    count = count + 1
print("Hello Shiv")

Hello Shiv

In [8]:
count = 0
while (count < 15):
    print("the count is:", count)
    count = count + 5
print("Hello Shivu_")

the count is: 0
the count is: 5
the count is: 10
Hello Shivu_

In [1]:
count = 0
while (count <= 5):
    count = count + 2
    print("Hyy_")

Hyy_
Hyy_
Hyy_

In [2]:
count = 0
while (count < 5):
    count = count + 1
print("Hyy_")

Hyy_

# While..Else Loops

In [3]:
count = 0
while (count < 5):
    print(count, " is less than 5")
    count = count + 1
else:
    print(count, " is not less than 5")

0  is less than 5
1  is less than 5
2  is less than 5
3  is less than 5
4  is less than 5
5  is not less than 5

In [7]:
count = 0
while (count < 5):
    print("{} is not equal to 5".format(count))    #We can also use .formate() function
    count = count + 1
else:
    print(count, "is equal to 5")

0 is not equal to 5
1 is not equal to 5
2 is not equal to 5
3 is not equal to 5
4 is not equal to 5
5 is equal to 5

In [8]:
count = 2
while (count < 10):
    print(count, "is less than 10")
    count = count + 1
else:
    print(count, "is equal to 10")

2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10
10 is equal to 10

# For Loops

In [10]:
for name in 'Python':   # First Example
    print('current name :',  name)
    
fruits = ['banana', 'apple', 'mango']
for fruit in fruits:      # second example
    print('current fruit :', fruit)
    
print("Good Bye")

current name : P
current name : y
current name : t
current name : h
current name : o
current name : n
current fruit : banana
current fruit : apple
current fruit : mango
Good Bye

In [11]:
for letter in 'Python':
    print('current letter :',  letter)
    

print("Good Bye")

current letter : P
current letter : y
current letter : t
current letter : h
current letter : o
current letter : n
Good Bye

In [13]:
for name in "shiv":
    print("you are:", name)

you are: s
you are: h
you are: i
you are: v

In [14]:
for name in ["shiv", "patel"]:
    print("you are", name)

you are shiv
you are patel

In [12]:
for fruit in 'fruits':
    print('current letter :',  fruit)

current letter : f
current letter : r
current letter : u
current letter : i
current letter : t
current letter : s

In [15]:
for Shiv in range(10):
    print(Shiv)

0
1
2
3
4
5
6
7
8
9

In [19]:
for num in range(10,20):
    for i in range(2,num):   #(2 is starting), (num is ending) for range
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,j,i))
        break
    else:
        print(num, 'is a prime number')
        break

10 equals 5 * 2
12 equals 6 * 2
14 equals 7 * 2
16 equals 8 * 2
18 equals 9 * 2

In [20]:
for num in range(10,20):
    for i in range(1,num):
        if num%i == 0:
            j=num/i
            print('%d equals %d * %d' % (num,i,j))
        break
    else:
        print(num, 'is a prime number')
        break

10 equals 1 * 10
11 equals 1 * 11
12 equals 1 * 12
13 equals 1 * 13
14 equals 1 * 14
15 equals 1 * 15
16 equals 1 * 16
17 equals 1 * 17
18 equals 1 * 18
19 equals 1 * 19

In [45]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/2
            print('%a equals %a * %a' % (num,i,j))
            break

10 equals 2 * 5.0
12 equals 2 * 6.0
14 equals 2 * 7.0
15 equals 3 * 7.5
16 equals 2 * 8.0
18 equals 2 * 9.0

In [46]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j=num/2
            print('%d equals %d * %d' % (num,i,j))
            break
        else:
            print(num, 'is a prime number')
        break

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 is a prime number
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [47]:
from math import pi
pi

3.141592653589793

In [53]:
area = pi * 2**2
area

12.566370614359172

In [56]:
# find the area of circle

radious = 10
Area = pi*radious*radious
Area

314.1592653589793

# Conditional Statement

In [57]:
# If statement

num = 5
if num>0:
    print(num, 'is positive number')
print('statement is true')

5 is positive number
statement is true

In [58]:
num = -5
if num>0:
    print(num, 'is positive number')
else:
    print(num,'is negative number')

-5 is negative number

In [59]:
num = 1
if num>0:
    print(num, 'is positive number')
else:
    print(num,'is negative number')

1 is positive number

In [62]:
# Nested Loops

num = -2
if num>=0:
    if num == 0:
        print(num,' is zero')
    else:
        print(num,'is positive number')
else:
    print(num,'is negative number')

-2 is negative number

In [63]:
num = -1
if num>=0:
    if num == 0:
        print(num,'is zero')
    else:
        print(num,'is positive number')
else:
    print(num,'is negative number')

-1 is negative number

In [64]:
num = 0
if num>=0:
    if num == 0:
        print(num,'is zero')
    else:
        print(num,'is positive number')
else:
    print(num,'is negative number')

0 is zero

# Calculator

In [66]:
#Creat function for each operation

#This function add two numbers
def add(x,y):
    return x+y

#This function substraction two numbers
def subtract(x,y):
    return x-y

#This function multiply two numbers
def multiply(x,y):
    return x*y

#This function division two numbers
def divide(x,y):
    return x/y

print("Select operation")
print('1, Addition')
print('2, Subtract')
print('3, Multiply')
print('4, divide')

choice = input("Enter choice (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if choice == '1':
    print(num1, '+', num2,'=', add(num1,num2))
elif choice == '2':
    print(num1, '-', num2,'=', subtract(num1,num2))
elif choice == '3':
    print(num1, '*', num2,'=', multiply(num1,num2))
elif choice == '4':
    print(num1, '/', num2,'=', divide(num1,num2))
else:
    print("Invalid Input")

Select operation
1, Addition
2, Subtract
3, Multiply
4, divide
Enter choice (1/2/3/4): 2
Enter the first number: 1
Enter the second number: 1
1 - 1 = 0

In [67]:
print("Select operation")
print('1, Addition')
print('2, Subtract')
print('3, Multiply')
print('4, Divide')

choice = input("Enter choice (1/2/3/4): ")

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if choice == '1':
    print(num1, '+', num2,'=', add(num1,num2))
elif choice == '2':
    print(num1, '-', num2,'=', subtract(num1,num2))
elif choice == '3':
    print(num1, '*', num2,'=', multiply(num1,num2))
elif choice == '4':
    print(num1, '/', num2,'=', Divide(num1,num2))
else:
    print("Invalid Input")

Select operation
1, Addition
2, Subtract
3, Multiply
4, Divide
Enter choice (1/2/3/4): 5
Enter the first number: 4
Enter the second number: 4
Invalid Input

In [69]:
print("Select operation")
print('1, Addition')
print('2, Subtract')
print('3, Multiply')
print('4, divide')

choice = input("Enter choice (1/2/3/4): ")

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

if choice == '1':
    print(num1, '+', num2,'=', add(num1,num2))
elif choice == '2':
    print(num1, '-', num2,'=', subtract(num1,num2))
elif choice == '3':
    print(num1, '*', num2,'=', multiply(num1,num2))
elif choice == '4':
    print(num1, '/', num2,'=', divide(num1,num2))
else:
    print("Invalid Input")

Select operation
1, Addition
2, Subtract
3, Multiply
4, divide

KeyboardInterrupt: Interrupted by user